nav.navigation
  div.container-fluid
    ul.nav.text-center
      li
        a(href='/') Home
      li
        a(href='/portfolio') Portfolio
      li
        a(href='/resume') Resume      
      li
        a(href='/contact') Contact
  include ./../../public/images/initials.svg
