extends layout

block content  
  main.center.center-horizontal#contact
    a(href="mailto:xw1992@gmail.com").icon.icon-email
    a(href="http://www.twitter.com/u/xw92").icon.icon-twitter
    a(href="http://www.github.com/xinranw").icon.icon-github
    a(href="http://www.linkedin.com/in/xinranw").icon.icon-linkedin
