extends layout

block content  
  main.center#home
    div.text-center
      include ./../public/images/face-icon.svg
      h1.home-title Hi, I'm Xinran!
      h2.home-subtitle full stack developer, UX thinker, UI tinkerer


