doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    include ./partials/ga.jade
    
  body
    include ./partials/nav.jade 
    block content

    script(src="/javascripts/jquery.min.js")
    //- script(src="/javascripts/jquery.fullPage.min.js")
    script(src="/javascripts/app.js")

