extends layout

block content  
  main.center.center-vertical
    section.container
      div.row.col-xs-12
        h1 Hackathon Site and CMS
      div.row.col-xs-12
        p Designed and developed the informational site and management platform used for Comcast/NBCUniversal hackathons. The site acted as the informational landing page before the event and provided access to live updates for over 300 event participants during the event. The platform also allowed administrators and organizers a simple way to manage the site's content for future hacathons.
        p This responsive site runs on a Python/Django backend, hosted on an Apache  server. The administrative CMS capabilities were implemented using DjangoCMS, with RESTful API access to the content. On the frontend, the site uses design concepts from flat aesthetics, card-based displays, and parallax and motion effects. 
    section.container
      div.row.col-xs-12
        h1 Void Ultimate Team Site
      div.row.col-xs-12
        p 
        